.hidden {
  display: none;
  visibility: hidden;
}
.visible {
  display: block;
  visibility: visible;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mycontainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border-radius: 25px;
}
a {
  text-decoration: none;
}